@import '../variables.scss';

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 15svh;
    margin-top: 4.5rem;
}

.p {
    font-size: 1.125rem;
    font-weight: 700;
    color: $primary-text;
    font-family: $cabin;
    margin-bottom: 1rem;
}

.btn {
    width: 90%;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: $dark-blue;
    color: $boxes;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: $cabin;
    cursor: pointer;
    margin-bottom: 2rem;
}