@import '../../variables.scss';

.input {
    width: 100%;
    height: auto;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    position: relative;
    font-family: $cabin;
    font-size: 1rem;
    color: $secondary-text;
    background-color: $boxes;
    font-weight: 600;
    margin: 0.2rem 0;
}
.eye {
    position: absolute;
    top: 50.5%;
    right: 6.5%;
    width: 1.5rem;
    height: auto;
    z-index: 2;
    cursor: pointer;
}
.eye:hover {
    filter: invert(0.5);
}