@import '../../variables.scss';

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
}
.input {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    font-family: $cabin;
    font-size: 1rem;
    color: $secondary-text;
    background-color: $boxes;
    font-weight: 600;
    margin: 0.2rem 0;
}
.eye {
    position: absolute;
    top: 50;
    right: 1.5rem;
    width: 1.5rem;
    height: auto;
    z-index: 2;
    cursor: pointer;
}
.eye:hover {
    filter: invert(0.5);
}